{% extends "layout.html" %}

{% block content %}
    {% for album in albums %}
    <div class="col px-md-5"><div class="p-3 border bg-light">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">{{album.album_title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Album ID: {{album.id}}</h6>
                        <p class="card-text">Album's Artist Count: {{album.album_s_artists_count}}</p>
                    </div>
                </div>
            </div>
    </div>
    {% endfor %}
{% endblock %}
