{% extends "layout.html" %}

{% block content %}
    {% for playlist in playlists %}
    <div class="col px-md-5"><div class="p-3 border bg-light">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title">{{playlist.playlist_title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Playlist ID: {{playlist.id}}</h6>
                        <p class="card-text">Playlist's Track Count: {{playlist.playlist_s_tracks_count}}</p>
                        <p class="card-text">Playlist's User Count: {{playlist.playlist_s_users_count}}</p>
                    </div>
                </div>
            </div>
    </div>
    {% endfor %}
{% endblock %}