{% extends "layout.html" %}

{% block content%} 
<style>
.row {
  white-space: nowrap;
  padding: 10px;
  width: 500px;
  margin: 20;
  justify-content: space-between;
}
</style>


<h3>My Settlements</h3>          
    {% for settlement in settlements %}
        {% if current_user.is_authenticated and current_user.id == settlement.user_id %}
            
            <h5>Settlement ID: {{settlement.id}}</h5>
            <h5>Client Name: {{settlement.name}}</h5>
            <h5>Settlement Date: {{settlement.settdate}}</h5>
            <a href="{{ url_for('settlements.settlement_show', id=settlement.id) }}">Show Settlement Calculations</a>
            <h5>____</h5>
        {% endif%}

    {% endfor %}
{% endblock %}