{% extends "layout.html" %}

{% block content%}
<style>
    .row {
      white-space: nowrap;
      padding: 10px;
      width: 200px;
      margin: 20;
      justify-content: space-between;
    }
</style>

    {% if current_user.is_authenticated and current_user.id == settlement.user.id %}
    <div>
    <h6>Settlement ID: {{settlement.id}}</h6>
    <h6>Client Name: {{settlement.name}}</h6>
    <h6>Settlement Date: {{settlement.settdate}}</h6>
    <h6>_</h6>


    <h6>Sale Price: $ {{settlement.saleprice}}</h6>
    <h6>LESS Deposit: $ {{settlement.deposit}}</h6>
    <h6><u>Subtotal: $ {{settlement.balance}}</u></h6>
    <h6>_</h6>

    <h6><b>BCC Rates</b></h6>
    <h6>Total Rates: $ {{settlement.ratesamount}}</h6>
    <h6>Days Remaining in Period: {{settlement.ratesdayspaid}}</h6>
    <h6>PLUS Rates Amount Overpaid: $ {{settlement.ratesoverpaid}}</h6>
    <h6>________</h6>
    <h6><b><u>TOTAL to be received at Settlement: $ {{settlement.totalbalance}}</u></b></h6>
    <h6>________</h6>

    </div>

    {% endif%}
    <a href="/settlements">Back</a>
{% endblock %}