{% extends "layout.html" %}

{% block content%}        
    <h3>test</h3>
    <h4>test</h4>
    <h4>test</h4>
    <h4>test</h4>
    <h4>test</h4>
    {% if current_user.is_authenticated and current_user.id == sett.user.id %}
        <a href="{{ url_for('animals.new_animal') }}"><button>Add a new animal</button></a>
        <a href="{{ url_for('shelters.modify_shelter', id=sett.id) }}"><button>Update shelter</button></a>
        <a href="{{ url_for('shelters.shelter_delete', id=sett.id) }}"><button>Delete shelter</button></a>
    {% endif%}
    <a href="/shelters">Back</a>
{% endblock %}