{% extends "layout.html" %}

{% block content %}
    <div>
        <h3>Sign up</h3>
        <div>
            <form action="{{ url_for('auth.auth_register') }}" method="POST">
                <input type="text" name="username" placeholder="Username" autofocus="">
                <input type="password" name="password" placeholder="Password">
                <button>Sign up</button>
            </form>
        </div>
        <h5>-</h5>
        <h5>Already a registered User?</h5>
        <a href="login"><button>Go to Login</button></a>
    </div>
{% endblock %}